//icon about
@font-face {
    font-family: "iconfont";
    src: url('@assets/style/iconfont/iconfont.woff2') format('woff2'),
        url('@assets/style/iconfont/iconfont.woff') format('woff'),
        url('@assets/style/iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-minus:before {
    content: "\e7fd";
}

.icon-plus:before {
    content: "\e8fe";
}


.icon-reload:before {
    content: "\e788";
}

.icon-poweroff:before {
    content: "\e78c";
}

.icon-setting:before {
    content: "\e78e";
}

.icon-detail:before {
    content: "\e793";
}

.icon-linechart:before {
    content: "\e7af";
}

.icon-barchart:before {
    content: "\e7b0";
}

.icon-pointmap:before {
    content: "\e7b1";
}

.icon-container:before {
    content: "\e7b2";
}

.icon-database:before {
    content: "\e7b3";
}

.icon-sever:before {
    content: "\e7b4";
}

.icon-mobile:before {
    content: "\e7b5";
}

.icon-tablet:before {
    content: "\e7b6";
}

.icon-filter:before {
    content: "\e7c7";
}

.icon-deploymentunit:before {
    content: "\e7d2";
}

.icon-gateway:before {
    content: "\e7d7";
}

.icon-cloud-download:before {
    content: "\e7d9";
}

.icon-error:before {
    content: "\e7df";
}

.icon-api:before {
    content: "\e7e1";
}

.icon-disconnect:before {
    content: "\e7e2";
}

.icon-shake:before {
    content: "\e7e4";
}

.icon-tag:before {
    content: "\e7e5";
}

.icon-wrench:before {
    content: "\e7e6";
}

.icon-upload:before {
    content: "\e7ef";
}

.icon-download:before {
    content: "\e7f0";
}

.icon-stop:before {
    content: "\e842";
}

.icon-CodeSandbox:before {
    content: "\e87e";
}

.icon-codepen:before {
    content: "\e87f";
}

.icon-apartment:before {
    content: "\e897";
}



// color
$default-text-color: #2c3e50;
$blue: #1963dd;
$white: #fcfcfc;
$gray: #7a7a7a;
$black: #444444;

* {
    padding: 0;
    margin: 0;
}

i {
    font-style: normal;
}

// html {
//     overflow-y: overlay;
// }

::-webkit-scrollbar {
    width: 0;
}

// ::-webkit-scrollbar-thumb {
//     background: #22bbff;
//     ; // 滑块颜色
//     border-radius: 5px; // 滑块圆角
//     border: 6px solid rgba(0, 0, 0, 0);
//     box-shadow: 8px 0 0 #A5ADB7 inset;
// }

%main-title {
    font-size: 34px;
    margin: 40px 24px;
}

%flex-vertical-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

%flex-relative-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

%small-text {
    font-size: 14px;
    font-weight: lighter;
}

%middle-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.btn {
    color: $white;
    @extend %flex-vertical-center;
    background-color: $blue;
}

.logo {
    display: inline-block;
    height: 50%;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}