//Daybreak Blue
$blue-1:#e6f4ff;
$blue-2:#bae0ff;
$blue-3:#91caff;
$blue-4:#69b1ff;
$blue-5:#4096ff;
$blue-6:#1677ff;
$blue-7:#0958d9;
$blue-8:#003eb3;
$blue-9:#002c8c;
$blue-10:#001d66;
//Dust Red
$red-1:#fff1f0;
$red-2:#ffccc7;
$red-3:#ffa39e;
$red-4:#ff7875;
$red-5:#ff4d4f;
$red-6:#f5222d;
$red-7:#cf1322;
$red-8:#a8071a;
$red-9:#820014;
$red-10:#5c0011;
//Volcano
$volcano-1:#fff2e8;
$volcano-2:#ffd8bf;
$volcano-3:#ffbb96;
$volcano-4:#ff9c6e;
$volcano-5:#ff7a45;
$volcano-6:#fa541c;
$volcano-7:#d4380d;
$volcano-8:#ad2102;
$volcano-9:#871400;
$volcano-10:#610b00;
//Sunset Orange
$orange-1:#fff7e6;
$orange-2:#ffe7ba;
$orange-3:#ffd591;
$orange-4:#ffc069;
$orange-5:#ffa940;
$orange-6:#fa8c16;
$orange-7:#d46b08;
$orange-8:#ad4e00;
$orange-9:#873800;
$orange-10:#612500;
//gray
$gray-1:#ffffff;
$gray-2:#fafafa;
$gray-3:#f5f5f5;
$gray-4:#f0f0f0;
$gray-5:#d9d9d9;
$gray-6:#bfbfbf;
$gray-7:#8c8c8c;
$gray-8:#595959;
$gray-9:#434343;
$gray-10:#262626;
$gray-11:#1f1f1f;
$gray-12:#141414;
$gray-13:#000000;